* {
    box-sizing: border-box;
}

body {
    background-color: #84a98c;
    font-family: Arial;
    padding: 10px;
}

.header {
    padding: 25px;
    text-align: center;
    background: #354f52;
}

.header h1 {
    font-size: 50px;
}

.navbar {
    overflow: hidden;
    background-color: #2F3E46;
}

.navbar a {
    float: left;
    display: block;
    text-align: center;
    text-decoration: none;
    color: #cad2c5;
    padding: 10px 15px;
}

.navbar a:hover {
    background-color: #cad2c5;
    color: #2F3E46;
}

.container::after {
    content: "";
    display: table;
    clear: both;
}

.content {
    float: right;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 70%;
}

.info {
    float: right;
    width: 30%;
    position: sticky;
    top: 0;
    padding-bottom: 20px;
}

.info>div {
    background-color: #52796F;
    margin-left: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    text-align: justify;
}

.bonsai-style {
    overflow: auto;
    max-width: 49%;
    margin-top: 20px;
}

.img-overlay {
    position: relative;
}

.img-overlay>h1 {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    transition: .5s ease;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
}

.bonsai-style>div {
    background-color: #52796F;
}

.bonsai-style p {
    text-align: justify;
    padding: 10px;
}

.bonsai-style h2 {
    padding: 10px;
}

.bonsai-style img {
    max-width: 100%;
    max-height: 100%;
}

.footer {
    padding: 20px;
    text-align: center;
    background: #2F3E46;
    margin-top: 20px;
}

.clear {
    clear: both;
}

iframe {
    width: 100%;
    height: 1000px;
    resize: vertical;
}

form {
    align-items: center;
    margin: auto;
    min-width: 700px;
    max-width: 50%;
}

fieldset {
    border: none;
}
input[type=submit]{
    background-color: #2F3E46;
    width: 100%;
    color: white;
    padding: 15px 30px;
    cursor: pointer;
}
input[type="text"], input[type="email"], input[type="date"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
}

select {
    width: 100%;
    padding: 12px 20px;
}

textarea {
    width: 100%;
    min-height: 50px;
    padding: 12px 20px;
    resize: vertical;
}

@media screen and (max-width: 1000px) {
    .content, .info {
        width: 100%;
        padding: 0;
        position: static;
    }
    .info {
        display: flex;
        justify-content: center;
    }
    #definition {
        width: 60%;
    }
    #styles {
        width: 40%;
    }
}

@media screen and (max-height: 450px) {
    .content, .info {
        width: 100%;
        padding: 0;
        position: static;
    }
    .info {
        display: flex;
        justify-content: center;
    }
    #definition {
        width: 60%;
    }
    #styles {
        width: 40%;
    }
}

@media screen and (max-width: 800px) {
    .bonsai-style {
        max-width: 100%;
    }
    form {
        min-width: auto;
        max-width: 100%;
    }
}

@media screen and (max-width: 400px) {
    .navbar a {
        float: none;
        width: 100%;
    }
}