/* https://coolors.co/d8f3dc-b7e4c7-95d5b2-74c69d-52b788-40916c-2d6a4f-1b4332-081c15 */

* {
    box-sizing: border-box;
}

body {
    background-color: #95D5B2;
    font-family: Arial;
    color: #081C15;
    padding: 10px;
}

::selection {
    color: #081C15;
    background: #D8F3DC;
}

a:link {
    color: #081C15;
}

a:visited {
    color: #95D5B2;
}

a:hover {
    color: #D8F3DC;
}

.header {
    padding: 25px;
    text-align: center;
    background: #2D6A4F;
}

.header q {
    font-size: 18px;
    font-style: oblique;
}

.header h1 {
    font-size: 50px;
}

.navbar {
    overflow: hidden;
    background-color: #1B4332;
}

.navbar a {
    float: left;
    display: block;
    text-align: center;
    text-decoration: none;
    color: #D8F3DC;
    padding: 10px 15px;
}

.navbar a:hover {
    background-color: #D8F3DC;
    color: #1B4332;
}

.container::after {
    content: "";
    display: table;
    clear: both;
}

.content {
    float: right;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 70%;
}

.info {
    float: right;
    width: 30%;
    position: sticky;
    top: 0;
    padding-bottom: 20px;
}

.info>div {
    background-color: #40916C;
    margin-left: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    text-align: justify;
}

.bonsai-style {
    overflow: auto;
    max-width: 49%;
    margin-top: 20px;
}

.img-overlay {
    position: relative;
}

.img-overlay>h1 {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    transition: .5s ease;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
}

.bonsai-style>div {
    background-color: #40916C;
}

.bonsai-style p {
    text-align: justify;
    padding: 10px;
}

.bonsai-style h2 {
    padding: 10px;
}

.bonsai-style img {
    width: 100%
}

.footer {
    padding: 20px;
    text-align: center;
    background: #1B4332;
    margin-top: 20px;
}

.clear {
    clear: both;
}

iframe {
    width: 100%;
    height: 500px;
    resize: vertical;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #081C15;
}

th {
    background-color: #1B4332;
    color: white;
}

tr:nth-child(even) {
    background-color: #74C69D;
}

tr:hover {
    background-color: #D8F3DC;
}

form {
    align-items: center;
    margin: auto;
    min-width: 700px;
    max-width: 50%;
}

fieldset {
    border: none;
}

input[type=submit] {
    background-color: #081C15;
    width: 100%;
    color: white;
    padding: 15px 30px;
    cursor: pointer;
}

input[type="text"], input[type="email"], input[type="date"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
}

select {
    width: 100%;
    padding: 12px 20px;
}

textarea {
    width: 100%;
    min-height: 50px;
    padding: 12px 20px;
    resize: vertical;
}

@media screen and (max-width: 1000px) {
    .content, .info {
        width: 100%;
        padding: 0;
        position: static;
    }
    .info {
        display: flex;
        justify-content: center;
    }
    #definition {
        width: 60%;
    }
    #styles {
        width: 40%;
    }
}

@media screen and (max-height: 450px) {
    .content, .info {
        width: 100%;
        padding: 0;
        position: static;
    }
    .info {
        display: flex;
        justify-content: center;
    }
    #definition {
        width: 60%;
    }
    #styles {
        width: 40%;
    }
}

@media screen and (max-width: 800px) {
    .bonsai-style {
        max-width: 100%;
    }
    form {
        min-width: auto;
        max-width: 100%;
    }
}

@media screen and (max-width: 400px) {
    .navbar a {
        float: none;
        width: 100%;
    }
}