html {
    background-color: #84a98c;
}
.container {
    display: flex;
    flex-wrap: wrap;
}
.container > div {
    background-color: #52796F;
    margin: 20px;
    width: 250px;
}
.bonsai-style {
    min-height: 400px;
}
.bonsai-style > div {
    background-color: #52796F;
}
.bonsai-style > div > p {
    text-align: justify;
}
.bonsai-style > div > h1{
    text-align: center;
}
.bonsai-style > img {
    float: left;
    width: 400px;
    height: 400px;
}
.bonsai-style:nth-of-type(2n)  > img {    
    float: right;
    width: 400px;
    height: 400px;
}