* {
    box-sizing: border-box;
}

body {
    background-color: #84a98c;
    padding: 10px;
    font-family: Arial;
}

.header {
    padding: 25px;
    text-align: center;
    background: #354f52;
}

.header h1 {
    font-size: 50px;
}

.navbar {
    overflow: hidden;
    background-color: #2F3E46;
}

.navbar a {
    float: left;
    display: block;
    text-align: center;
    text-decoration: none;
    color: #cad2c5;
    padding: 10px 15px;
}

.navbar a:hover {
    background-color: #cad2c5;
    color: #2F3E46;
}

.container::after {
    content: "";
    display: table;
    clear: both;
}

.content {
    float: right;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 70%;
}

.info {
    float: right;
    width: 30%;
    position: sticky;
    top: 0;
}

.info>div {
    background-color: #52796F;
    margin: 20px;
}

.bonsai-style {
    overflow: auto;
    max-width: 49%;
}

.bonsai-style>div {
    background-color: #52796F;
}

.bonsai-style>div>p {
    text-align: justify;
    padding: 10px;
}

.bonsai-style>h1 {
    text-align: center;
    
}

.bonsai-style>div>h1 {
    text-align: center;
}

.bonsai-style>div>img {
    max-width: 100%;
    max-height: 100%;
}

.footer {
    padding: 20px;
    text-align: center;
    background: #2F3E46;
    margin-top: 20px;
}

.clear {
    clear: both;
}

@media screen and (max-width: 1000px) {
    .content, .info {
        width: 100%;
        padding: 0;
        position: static;
    }
}

@media screen and (max-width: 800px) {
    .bonsai-style {
        max-width: 100%;
    }
}

@media screen and (max-width: 400px) {
    .navbar a {
        float: none;
        width: 100%;
    }
}