* {
    box-sizing: border-box;
}

body {
    background-color: #84a98c;
    padding: 10px;
    font-family: Arial;
}

.header{
    padding: 25px;
    text-align: center;
    background: #354f52;
}

.header h1 {
    font-size: 50px;
}

.navbar {
    overflow: hidden;
    background-color: #2F3E46;
}

.navbar a {
    float: left;
    display: block;
    text-align: center;
    text-decoration: none;
    color: #cad2c5;
    padding: 10px 15px;
}

.navbar a:hover {
    background-color: #cad2c5;
    color: #2F3E46;
}
.container {
    display: flex;
    flex-wrap: wrap;
}
.container > div {
    background-color: #52796F;
    margin: 20px;
    width: 250px;
}
.bonsai-style {
    min-height: 400px;
}
.bonsai-style > div {
    background-color: #52796F;
}
.bonsai-style > div > p {
    text-align: justify;
}
.bonsai-style > div > h1{
    text-align: center;
}
.bonsai-style > img {
    float: left;
    width: 400px;
    height: 400px;
}
.bonsai-style:nth-of-type(2n)  > img {    
    float: right;
    width: 400px;
    height: 400px;
}